<div class="table">
	<h2>Card Deck</h2>
	<form class="pure-form controles">
		<button class="pure-button pure-button-primary"
		(click)="onShuffle()">Shuffle</button>

		<input 	placeholder="Number of cards" 
				maxLength=2 
				value="25"
				type="number"
				#dealNumber>

		<button class="pure-button pure-button-primary"
		(click)="onDeal(dealNumber.value)">Deal</button>
	</form>
	<card-face *ngFor="let card of cardDeck" 
		[card]="card">
	</card-face>
</div>

<div class="table">
	<h2>Players Hand</h2>
	<div class="controles">
		<button class="pure-button pure-button-primary"
		(click)="onSort()">Sort by value</button>
		<button class="pure-button pure-button-primary"
		(click)="onSortSuit()">Sort by Suit</button>
	</div>
	<card-face *ngFor="let card of cardHand" 
		[card]="card">
	</card-face>
</div>
